<div>
    <div class="selected-book">
        <div>
            <label>ID:</label>
            <input ng-model="$ctrl.bookInfo.id" type='text'/>
        </div>
        <div>
            <label>Name:</label>
            <input ng-model="$ctrl.bookInfo.name" type='text'/>
        </div>
        <div>
            <label>Author:</label>
            <input ng-model="$ctrl.bookInfo.author" type='text'/>
        </div>
        <div>
            <label>Series:</label>
            <input ng-model="$ctrl.bookInfo.series_t" type='text'/>
        </div>
        <div>
            <label>Sequence:</label>
            <input ng-model="$ctrl.bookInfo.sequence_i" type='number'/>
        </div>
        <div>
            <label>Genre:</label>
            <input ng-model="$ctrl.bookInfo.genre_s" type='text'/>
        </div>
        <div>
            <label>In Stock:</label>
            <input ng-model="$ctrl.bookInfo.inStock" type='checkbox'/>
        </div>
        <div>
            <span>Price:</span>
            <input ng-model="$ctrl.bookInfo.price" type='number'/>
        </div>
        <div>
            <span>Pages:</span>
            <input ng-model="$ctrl.bookInfo.pages_i" type='number'/>
        </div>
        <div>
            <span>Cat:</span>
            <input ng-model="$ctrl.bookInfo.cat" type='text'/>
        </div>
    </div>
    <button class="button" ng-click="$ctrl.onSaveBook()">SAVE INFO</button>
</div>