<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body ng-app="webproject">
    <div>
      I can add: {{ 1+2 }}.
    </div>
    <div>
      <label>First name:</label>
      <input ng-model="firstName">
      <label>Last name:</label>
      <input ng-model="lastName">
      <div>
        Hello {{firstName + ' ' + lastName}}!
      </div>
    </div>
    <div ng-controller="TestController as $ctrl">
      Reverse Hello {{$ctrl.invertString(firstName + ' ' + lastName)}}!
      <hr>
      <button ng-click="$ctrl.onBooksClick()">
        Get Books
      </button>
      <br>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Author</th>
        </tr>
        <tr ng-repeat="book in $ctrl.bookList track by $index">
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
