<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <p>
                Result: {{$ctrl.wholeResult}}
            </p>
        </div>
        <div class="col-xs-4">
            <p>
                <button class="btn btn-success" ng-click="$ctrl.resolve[1]()">1</button>
                <button class="btn btn-danger" ng-click="$ctrl.reject[1]()">1</button>
                <button class="btn btn-success" ng-click="$ctrl.resolve[2]()">2</button>
                <button class="btn btn-danger" ng-click="$ctrl.reject[2]()">2</button>
            </p>
        </div>
    </div>
</div>