table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

.selected {
    background-color: yellow;
}
.glyphicon.glyphicon-wrench{
    cursor: pointer;
}