body {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
.book-table{
    border: 1px double black;
}
.selected-book{
    span{
        min-width: 10%;
    }
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    div{
        min-width: 15%;
    }
    .id{
        min-width: 10%;
    }
    .name{
        min-width: 30%;
    }
    .delete-book{
        min-width: 8%;
        background-color: red;
    }
}